*{
    font-family: "Roboto";
}
.section1 {
    background-image: url("/images/section1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 20px;
    height: 500px;
}
.about {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}
.services {
    text-align: center;
    background-image: url("/images/services.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 60px;
    color: white;
}
.work {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.form {
    background-image: url('/images/form.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 15px;
}
#top {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    text-align: center;
}
.photos {
    padding-bottom: 20px;
}
#contact {
    color: white;
}
#enter1 #name{
    height: 30px;
    width: 280px;
    background-color: transparent;
    border: solid white;
    border-radius: 10px;
}
#enter2 #email{
    height: 30px;
    width: 280px;
    background-color: transparent;
    border: solid white;
    border-radius: 10px;
}
.footer{
    padding-top: 30px;
}